/* Colors Primary */
/* Layout Sizes */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@keyframes pulsate {
				0% {
								transform: scale(1);
				}
				50% {
								transform: scale(1.1);
				}
				100% {
								transform: scale(1);
				}
}
.animation-pulsate {
				animation: pulsate 2s infinite;
}

*,
*:before,
*:after {
				box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
				margin: 0;
				padding: 0;
				border: 0;
				font: inherit;
				vertical-align: baseline;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				-webkit-text-size-adjust: none;
				        text-size-adjust: none;
}

html {
				font-size: 62.5%;
}

footer,
header,
nav,
section,
main {
				display: block;
}

body {
				line-height: 1;
}

ol,
ul {
				list-style: none;
}

blockquote,
q {
				quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
				content: "";
				content: none;
}

table {
				border-collapse: collapse;
				border-spacing: 0;
}

input {
				-webkit-appearance: none;
				border-radius: 0;
}

body {
				font-family: "Inter", sans-serif;
				font-size: 1.6rem;
}

.title {
				font-weight: 700;
				font-size: 3.1rem;
				line-height: 1.6em;
				color: var(--text-primary);
}
@media (max-width: 650px) {
				.title {
								font-size: 2.6rem;
				}
}
@media (max-width: 375px) {
				.title {
								font-size: 2.4rem;
				}
}

.subtitle {
				color: var(--text-secondary);
				font-size: 1.6rem;
				font-weight: 700;
}

.section-title {
				color: var(--text-secondary);
				font-weight: 700;
				font-size: 2.4rem;
}
@media (max-width: 375px) {
				.section-title {
								font-size: 2.2rem;
				}
}

.light {
				--primary: hsl(0, 0%, 100%);
				--secondary: hsl(225, 100%, 98%);
				--tertiary: hsl(227, 47%, 96%);
				--tertiary-hover: hsl(227, 47%, 92%);
				--text-primary: hsl(230, 17%, 14%);
				--text-secondary: hsl(228, 12%, 44%);
				--toggle: hsl(230, 22%, 74%);
				--toggle-active: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.dark {
				--primary: hsl(230, 17%, 14%);
				--secondary: hsl(232, 19%, 15%);
				--tertiary: hsl(228, 28%, 20%);
				--tertiary-hover: hsl(228, 28%, 28%);
				--text-primary: hsl(0, 0%, 100%);
				--text-secondary: hsl(228, 34%, 66%);
				--toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
				--toggle-active: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 30px 0 50px 0;
}
@media (max-width: 650px) {
				header {
								flex-direction: column;
								align-items: flex-start;
				}
}

@media (max-width: 650px) {
				.theme-switch {
								display: flex;
								justify-content: space-between;
								width: 100%;
				}
}

.header-separator {
				display: none;
				width: 100%;
				border: none;
				height: 1px;
				background-color: var(--text-secondary);
				margin: 30px auto;
}
@media (max-width: 650px) {
				.header-separator {
								display: block;
				}
}

.theme-switch {
				display: flex;
				justify-content: space-between;
				align-items: center;
				min-width: 160px;
				color: var(--text-secondary);
				font-weight: 700;
}

.container {
				max-width: 1440px;
				min-width: 375px;
				display: flex;
				flex-direction: column;
				flex: 1;
				margin: auto;
				position: relative;
				min-height: 100vh;
				padding: 30px;
}
@media (max-width: 375px) {
				.container {
								max-width: 375px;
				}
}

.grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
				gap: 30px;
				grid-auto-rows: -webkit-max-content;
				grid-auto-rows: max-content;
}

.overview {
				margin-top: 50px;
}

.section-title {
				padding-bottom: 30px;
}

footer {
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				flex: 1;
				width: 100%;
				padding: 5px;
				justify-content: center;
				color: var(--text-secondary);
}

body {
				background-color: var(--primary);
}

.top-bg {
				position: absolute;
				top: 0;
				background-color: var(--secondary);
				height: 240px;
				width: 100%;
				min-width: 375px;
				border-bottom-left-radius: 30px;
				border-bottom-right-radius: 30px;
				z-index: -1;
}

.card {
				display: flex;
				flex-direction: column;
				border-radius: 6px;
				justify-content: center;
				align-items: center;
				background-color: var(--tertiary);
				padding: 30px;
				position: relative;
				overflow: hidden;
}
.card:hover, .card:focus {
				cursor: pointer;
				background-color: var(--tertiary-hover);
}
.card__user {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 30px;
				font-weight: 700;
				color: var(--text-secondary);
}
.card__user img {
				margin-right: 10px;
}
.card__content {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 30px;
}
.card__content__result {
				font-size: 6rem;
				font-weight: 700;
				margin-bottom: 10px;
				color: var(--text-primary);
}
.card__content__followers {
				letter-spacing: 0.3em;
				text-transform: uppercase;
				color: var(--text-secondary);
}
.card__progress {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 700;
				font-size: 1.6rem;
}
.card__progress--green {
				color: #1db489;
}
.card__progress--red {
				color: #dc414c;
}
.card__progress__icon {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: auto;
				margin-right: 5px;
}
.card--facebook::after {
				content: "";
				background-color: #198ff5;
				height: 5px;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
}
.card--twitter::after {
				content: "";
				background-color: #1ca0f2;
				height: 5px;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
}
.card--instagram::after {
				content: "";
				background: linear-gradient(to right, #fdc468, #df4996);
				height: 5px;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
}
.card--youtube::after {
				content: "";
				background-color: #c4032a;
				height: 5px;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
}

.card-small {
				display: flex;
				flex-direction: column;
				padding: 30px;
				border-radius: 6px;
				background-color: var(--tertiary);
}
.card-small:hover, .card-small:focus {
				cursor: pointer;
				background-color: var(--tertiary-hover);
}
.card-small--green {
				color: #1db489;
}
.card-small--red {
				color: #dc414c;
}
.card-small__top, .card-small__bottom {
				display: flex;
				justify-content: space-between;
}
.card-small__top {
				margin-bottom: 30px;
				color: var(--text-secondary);
				font-weight: 700;
				font-size: 1.6rem;
				align-items: center;
}
.card-small__bottom {
				color: var(--text-primary);
				font-weight: 700;
				font-size: 3.6rem;
				align-items: baseline;
}
.card-small__bottom__progress {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.6rem;
}
.card-small__bottom__progress__icon {
				margin-right: 5px;
}

.switch {
				width: 60px;
				height: 34px;
				position: relative;
				display: inline-block;
}
.switch input {
				opacity: 0;
				width: 0;
				height: 0;
}
input:checked + .switch__slider:before {
				transform: translateX(-26px);
}
.switch__slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: var(--toggle);
				border-radius: 34px;
				transition: transform 0.4s;
				overflow: hidden;
}
.switch__slider:hover::after {
				opacity: 1;
}
.switch__slider::before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				right: 4px;
				bottom: 4px;
				border-radius: 50%;
				background: var(--primary);
				transition: transform 0.4s;
				z-index: 100;
}
.switch__slider::after {
				content: "";
				height: 100%;
				width: 100%;
				background: var(--toggle-active);
				z-index: 0;
				position: absolute;
				opacity: 0;
				transition: opacity 0.4s;
}
/*# sourceMappingURL=main.css.map */