body{
	background-color: var(--primary);
}

.top-bg{
	position: absolute;
	top: 0;
	background-color: var(--secondary);
	height: 240px;
	width: 100%;
	min-width: $mobile-size;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	z-index: -1;
}